.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border-radius: 4px;
    width: 600px;
    height: 50px;
  }
  .content {
    margin-top: 4px;
    margin-bottom: 4px;
    transform: translate(20px, 15px);
  }